# Node and cache folders to ignore
node_modules
.cache/
client/node_modules/
client/.cache/

# Ignore Node.js dependencies and environment variables
node_modules
.env

# IDE-specific
.vscode/
.DS_Store
